/* .big-button {
    width: 26rem;
    height: 5rem;
    border-radius: 3rem;
    border: 0.1rem solid var(--main-dark);
    background-color: transparent;
    font-size: 2rem;
    color: var(--main-light);
}

.big-button:hover {
    background-color: var(--main-light);
    border: 0.1rem solid var(--main-light);
    transform: scale(1.05);
    transition: all 0.2s ease-in-out;
} */

.btn-icon {
	margin-right: 0.5rem;
}

.wishlist-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.8rem;
	background-color: transparent;
	border: none;
	margin: 1rem;
}

.add-to-wishlist-btn {
	color: var(--main-dark);
	border-bottom: 0.2rem solid var(--main-dark);
}

.remove-from-wishlist-btn {
	color: var(--main-light);
	transform: scale(1.1);
}

.add-to-wishlist-btn:hover {
	transform: scale(1.1);
	transition: all 0.1s ease-in-out;
	color: var(--main-light);
	border-bottom: 0.2rem solid var(--main-light);
}

.add-to-wishlist-btn:visited {
	transform: scale(1.1);
	transition: all 0.1s ease-in-out;
}
