/* MAIN LAYOUT */
.navbar,
.navbar-items-left,
.logo-container,
.navbar-menu,
.navbar-items-right {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/* NAVBAR */
.navbar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 9rem;
	padding: 2rem 4rem;
	border-bottom: 0.1rem solid var(--grayish-light);
	background-color: var(--white);
	z-index: 2;
}

/* NAVBAR ITEMS LEFT */
.logo-container {
	color: var(--main-dark);
	padding-right: 2rem;
}

.logo {
	width: 5.1rem;
	height: 5.1rem;
	color: var(--main-light);
}

.logo-text {
	font-family: "Ubuntu", sans-serif;
	font-size: 2.2rem;
	line-height: 2.4rem;
	padding-left: 0.2rem;
}

.navbar-menu {
	padding: 0 6rem;
}

.navbar-menu-link {
	font-size: 1.8rem;
	font-weight: 500;
	margin-right: 5rem;
	color: var(--grayish-dark);
}

/* NAVBAR ITEMS RIGHT */
/* Search - Check Search.css*/

/* Wishlist Icon */
.wishlist-container {
	position: relative;
	width: 5rem;
	height: 5rem;
	cursor: pointer;
}

.wishlist-bubble,
.wishlist-number,
.wishlist-icon {
	position: absolute;
}

.wishlist-bubble {
	bottom: 1.8rem;
	right: 1.55rem;
	width: 2.2rem;
	height: 2.1rem;
	/* border-radius: 45%;
    background-color: var(--main-light); */
	z-index: 1;
}

.wishlist-number {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;
	color: var(--main-dark);
	font-family: "Ubuntu", sans-serif;
	font-weight: 500;
	font-size: 1.4rem;
}

.wishlist-icon {
	bottom: 0.3rem;
	right: 0.3rem;
	width: 4.6rem;
	height: 4.6rem;
	color: var(--main-dark);
	color: var(--main-light);
}

/* HOVER, ACTIVE, FOCUS Effects */
.navbar-menu-link:hover,
.navbar-menu-link-active {
	color: var(--main-light);
	transition: all 0.1s ease-in-out;
}

.wishlist-container:hover {
	transform: scale(1.1);
	transition: all 0.1s ease-in-out;
}
